
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center mt-4">
                <h1 class="display-1">401</h1>
                <p class="lead" data-i18n-key="serverError">Internal server error</p>
            </div>
        </div>
    </div>
</div>
