<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header"><h3 class="text-center font-weight-light my-4" data-i18n-key="changePassword">Change Password</h3></div>
        <div class="card-body">
          <div id="errorMessage" class="text-danger"></div>
          <div id="loading-spinner" style="display: none;" data-i18n-key="loading">
              Loading...
          </div>
          <form id="changePasswordForm">
            <div class="form-floating mb-3">
              <input class="form-control" id="inputCurrentPassword" type="password"/>
              <label for="inputCurrentPassword" data-i18n-key="currentPassword">Current Password</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="inputNewPassword" type="password"/>
              <label for="inputNewPassword" data-i18n-key="newPassword">New Password</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" id="inputNewPasswordConfirm" type="password"/>
              <label for="inputNewPasswordConfirm" data-i18n-key="newPasswordConfirm">Confirm New Password</label>
            </div>
            <div class="mt-4 mb-0">
              <div class="d-grid">
                <button type="submit" class="btn btn-primary" id="changePasswordButton" data-i18n-key="apply">Apply change</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
